pkgbase = python2-tomli-w
	pkgdesc = A lil' TOML writer
	pkgver = 1.0.0
	pkgrel = 6
	url = https://github.com/hakkin/tomli-w
	arch = any
	license = MIT
	checkdepends = python2-pytest
	checkdepends = python2-tomli
	makedepends = git
	makedepends = python2-build
	makedepends = python2-flit-core
	makedepends = python2-installer
	depends = python2
	source = git+https://github.com/hakkin/tomli-w.git#tag=19099125f32e7c491603e393263754262b356956
	b2sums = SKIP

pkgname = python2-tomli-w
